
<link rel= "stylesheet" href="/css/project.css">

<header id="project-header">
    <h1 id="project-name-issue"><%=project.projectName%></h1>
    <form style="margin: 0; padding: 0;" action="/projects/create_issue_page/<%= project._id%>" method="GET">
        <button id="add-issue-btn">ADD ISSUE</button>
    </form>
   
</header>

<div id="sorting-section">
        <div id="filter-by-lable">
            <div class="dropdown">
                
                   
                <button class="dropbtn">Lable</button>
                <div class="dropdown-content">
                    <%for(issue of project.issues){%>
                    <% for(lable of issue.lable){%>
                    <div class="element">
                        <input class="lable-check-input" type="checkbox" value="<%=issue.id%>"id="lable">
                        <label class="form-check-label" for="lable1"><%= lable%></label>  
                    </div>
                    <%}%><%}%> 
                    
                </div>
            </div>
        </div>
        
        <div id="filter-btn">
            <button id="filter-button">Filter  </button>
        </div>
        <div id="filter-by-author">
            <div class="dropdown">
                <button class="dropbtn">Author</button>
                <div class="dropdown-content">
                    
                    <%for(issue of project.issues){%>
                    <div class="element">
                        <input class="author-check-input" type="checkbox" value="<%= issue._id%>"id="author">
                        <label class="form-check-label" for="author"><%= issue.issueAuthor%></label>
                    </div>
                    <%}%> 
                
            </div>
            </div> 
        </div>
       

        <div id="search-by-title-description">
            <form action="">
                <label style="display: block;" for="search">Search by Title or Description</label>
                <input type="text" name="search" id="search-by-title-input">
                <button id="search-button">Search</button>
            </form>
        </div>

</div>

<div id="all-issues">
    <div id="issue-no">
        <div id="total-issues">Issues : <%=project.issues.length%></div>
        <h1>All Issues</h1>
        
    </div>
    
    
    <input type="hidden" id="projectId" value="<%=project._id%>">
    <%for(issue of project.issues){%>
        <div class="issue-container">
            <p id="issue-name"><span><%= issue.issueName %></span></p>
            <p id="auther-name">Auther :  <span><%= issue.issueAuthor %></span></p> 
            
            <div id="description">
                <h5>Description</h5>
                <p id="description-content">
                    <%= issue.issueDescription %>
                </p>
            </div>
            <div id="tags-container">
                <div id="tag-name">Tags :</div>
            <% for(lable of issue.lable){%>
                 <div class="tag">  <%=lable %></div>
               <% } %> 
            </div>
        </div>
    <%}%> 
</div>

<script src="/js/filter.js"></script>
  
 